{% extends "../header/header.html" %}


<!--title-->
{% block title %}{{ title }}{% endblock %}



<!--内容区域-->
{% block content %}
<script src="/public/libs/js/jquery.min.js"></script>
<script src="/public/libs/editormd.min.js"></script>
<link rel="stylesheet" href="/public/libs/css/editormd.min.css"/>
<div class="layui-body">
    <div id="test-editormd"></div>


</div>
<script src="/public/js/addblog.js"></script>
{% endblock %}



<!--底部模块-->
{% block footer %}
<div class="layui-footer" style="padding: 10px;z-index: 9999999">
    <div class="layui-row layui-form" >
        <div class="layui-col-md5">
            <input type="text" name="title" required  lay-verify="required" placeholder="请输入文章标题" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-col-md1">
            <select name="city" lay-verify="required">
                <option value="">选择分类</option>
                <option value="0">北京</option>
                <option value="1">上海</option>
                <option value="2">广州</option>
                <option value="3">深圳</option>
                <option value="4">杭州</option>
            </select>

        </div>
        <div class="layui-col-md2">
            <input type="text" class="layui-input" id="addDate" placeholder="选择时间">

        </div>

        <div class="layui-col-md2 layui-col-md-offset2">
            <button class="layui-btn  layui-btn-sm layui-btn-radius">发表文章</button>
            <button class="layui-btn  layui-btn-sm layui-btn-radius">保存到草稿箱</button>
        </div>
    </div>
</div>

{% endblock %}