{% extends "../header/header.html" %}


<!--title-->
{% block title %}{{ title }}{% endblock %}



<!--内容区域-->
{% block content %}

<div class="layui-body">
    <div class="iantoo-page">
        <div class="layui-collapse commont">
            <!--<div class="layui-colla-item">-->
                <!--<h2 class="layui-colla-title">杜甫</h2>-->
                <!--<div class="layui-colla-content">内容区域</div>-->
            <!--</div>-->
            <!--<div class="layui-colla-item">-->
                <!--<h2 class="layui-colla-title">李清照</h2>-->
                <!--<div class="layui-colla-content">内容区域</div>-->
            <!--</div>-->
            <!--<div class="layui-colla-item">-->
                <!--<h2 class="layui-colla-title">鲁迅</h2>-->
                <!--<div class="layui-colla-content layui-show">内容区域</div>-->
            <!--</div>-->
        </div>

        <div id="pageNumberDOM"></div>
    </div>
</div>
<div class="editpop" style="display: none">
    <div style="padding: 20px;">
        <textarea name="desc" placeholder="请输入内容" class="layui-textarea replyComtent"></textarea>
    </div>
</div>


<script src="/public/js/comment.js"></script>
{% endblock %}

