{% extends "../header/header.html" %}


<!--title-->
{% block title %}{{ title }}{% endblock %}



<!--内容区域-->
{% block content %}

<div class="layui-body">
    <div class="iantoo-page">
        <table id="classListTable" lay-filter="classList" >
        </table>
    </div>
</div>


<script type="text/html" id="newpageOpen">
    <input type="checkbox" name="sex" value="{{d.id}}" lay-skin="switch" lay-text="女|男" lay-filter="sexDemo" >
</script>

<script src="/public/js/classPage.js"></script>
{% endblock %}


