<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} iantoo admin {% endblock %}</title>
    <link rel="stylesheet" href="/public/css/common.css"/>
    <link rel="stylesheet" href="/public/css/login.css"/>
    <link rel="stylesheet" href="/public/layui/css/layui.css"/>
    <script src="/public/layui/layui.js"></script>
    <script src="/public/js/common.js"></script>
</head>
<body>

<!--导航模块-->
{% block header %}
    <div>header</div>
{% endblock %}







<!--内容模块-->
{% block content %}
    This is more content
{% endblock %}



</body>
</html>

